<form [formGroup]="_form" (ngSubmit)="onSubmit(_form)">
    <ng-container [ngTemplateOutlet]="non_leaf" [ngTemplateOutletContext]="{form:form,formGroup:_form}">
    </ng-container>
  

   

    <ng-template #non_leaf let-form="form" let-form_group="formGroup">
    
      <ng-container *ngFor="let element of form.value|keyvalue;let i =index;">
        
        <br><br><span  >{{element.key}}</span>
        <br><br><span>{{element.value|type}}</span>
        <span>:</span><br>


      <ng-container *ngIf="element.value|type as result">
        <ng-container *ngIf="result=='leaf'">
          <ng-container [ngTemplateOutlet]="leaf" [ngTemplateOutletContext]="{form:element,formGroup:form_group.get(element.key)}">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="result=='non_leaf'">
          <ng-container [ngTemplateOutlet]="non_leaf" [ngTemplateOutletContext]="{form:element,formGroup:form_group.get(element.key)}">
          </ng-container>
        </ng-container>
      </ng-container>
      </ng-container>
     
    </ng-template>


<ng-template #leaf  let-form="form" let-form_group="formGroup">
 
  <ng-container *ngFor="let element of form.value|keyvalue;let i =index;">
    <br><span>{{element.key}}</span>
    <span>:</span>
    <input [placeholder]="element.value" [formControl]="form_group.get(element.key)">

  </ng-container>

</ng-template>
<button type="submit"> submit</button>
</form>









   









